.body {
    background: black;
    padding-top: 100px;
    padding-bottom: 50px;
}

.layout {
    padding-left: 80px;
    padding-right: 80px;
}

.title h2 {
    color: #FF6400;
    font-size: 30px;
    line-height: 3.5;
    margin-bottom: 80px;
}

.title1 h1 {
    color: #FF6400;
    font-size: 50px;
    line-height: 2.5;
    text-align: center;
}

.title-sub {
    text-align: center;
    color: white;
    margin-bottom: 50px;
}

.box-1 {
    background-color: #fff;
    border: 1px solid #C7C7C7;
    border-radius: 8px;
    box-shadow: 0 3px 6px #e5e5e5;
    padding: 20px;
}
.box-11 {
    background-color: #fff;
    border: 1px solid #C7C7C7;
    border-radius: 8px;
    box-shadow: 0 3px 6px #e5e5e5;
    padding: 20px;
    height: 100%;
}
.topic span img {
    vertical-align: bottom;
    height: 20px;
}

.topic {
    margin-bottom: 20px;
}

.form-group input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
}
.TextLink .register {
    border-right-style: solid;
    border-right-color: #000;
    border-right-width: 1px;
}
.TextLink a {
    padding: 0 2%;
}
.TextLink a {
    font-size: 0.9em;
    color: #00A1E9 !important;
    padding: 0 3%;
}
 .TextLink{
    margin-bottom: 20px;
}
.News{
    margin-bottom: 92px;
}
.Quick_link {
    text-align: center;
    padding: 0;
    margin-bottom: 111px;
}
.Quick_link li {
    display: inline-block;
    width: 24%;
    text-align: center;
    vertical-align: top;
    padding: 3% 0;
    margin: 0 3%;
}
.Quick_link li a {
    font-size: 0.8em;
    cursor: pointer;
}
.Quick_link li a:hover{
    color: #00A1E9 !important;
}
.Quick_link li a img {
    width: 45%;
    height: 40%;
}
@media (max-width:1024px){
    .layout {
        padding-left: 40px;
        padding-right: 40px;
    }
    .News{
        margin-bottom: 70px;
    }
    .Quick_link{
        margin-bottom: 116px;
    }
    
}
@media (max-width:768px){
    .title-sub{
        font-size: 12px;
    }
    .title1 h1 {
        color: #FF6400;
        font-size: 40px;
        line-height: 2.5;
        text-align: center;
    }
    .wa{
        margin-bottom: 30px;
    } .Quick_link{
        margin-bottom: 90px;
    }

}
@media (max-width:425px){
    .layout {
        padding-left: 20px;
        padding-right: 20px;
    }
    .title1 h1 {
        color: #FF6400;
        font-size: 30px;
        line-height: 2.5;
        text-align: center;
    }
    .title-sub {
        font-size: 11px;
        
    }

}
.form-group input:focus{
        box-shadow: none !important;
}
.form-group input{
    margin-bottom: 3px;
}
/* background-image: linear-gradient(to bottom ,rgba(0, rgba(0, 0, 0, 0.829) 0.226) , black); */