.banner {
    height: 500px;
}

.banner img {
    height: 100%;
}

.zBanner {
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.188), rgba(0, 0, 0, 0.829));
}

.banner h1 {
    font-size: 64px;
    color: #FF6400;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.firstRow {
    background-color: #000;
    padding: 20px;
}

.secondRow {
    padding-top: 30px;
    background-color: #2C2C2C;
    padding: 20px;
}

.boxImg {
    width: 80%;
}

.typeItem {
    font-size: 24px;
    font-weight: 500;
}

.itemName {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    line-height: 45px;
    cursor: pointer;
}

.itemName:hover {
    color: rgb(251, 241, 220) !important;
}

.trashIcon,
.editIcon {
    font-size: 24px;
    cursor: pointer;
}

.trashIcon:hover {
    color: #FF6400 !important;
}

.editIcon:hover {
    color: rgb(0, 255, 4) !important;
}

.price {
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.buttonChooseItem {
    border-radius: 0px;
    background-color: #FF6400;
    color: #fff;
}

.buttonChooseItem:hover {
    background-color: #ff4800;
    color: #fff;
    box-shadow: 0px 0px 5px 1px #FF6400;
}

.estimated {
    color: #fff;
    text-align: end;
    margin-top: 40px;
    margin-bottom: 0;
    padding-bottom: 20px;
}

.cost {
    color: #FF6400;
}

.endBox {
    float: right;
}

.bgModalHeader {
    background-color: #FF6400;
    width: 100%;
}

.colorOrange {
    color: #FF6400 !important;
}

.menuModal {
    border-radius: 0px;
}

.textPriceModal {
    font-weight: bold;
    font-size: 20px;
}

.buttonChoose {
    border-radius: 0px 5px 0px 5px;
    width: 28px;
    display: block;
    text-align: center;
    background-color: #ff6400;
    color: #fff;
    padding: 3px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.zindex9999 {
    z-index: 9999;
}

.productHeight {
    max-height: 550px;
    overflow-y: scroll;
}

.customModal {
    overflow: hidden;
}

.overHidden {
    overflow-y: auto !important;
}

@media screen and (max-width: 1100px) {
    .buttonChooseItem {
        margin-top: 10px;
    }
    .banner h1 {
        font-size: 40px;
    }
    .itemName {
        line-height: 35px;
    }
    .trashIcon,
    .editIcon {
        font-size: 18px;
        cursor: pointer;
    }
    .price {
        font-size: 18px;
    }
    .desscriptionCard {
        margin-bottom: 8px;
    }
}

@media screen and (max-width: 768px) {
    .estimated {
        text-align: center;
    }
    .itemName {
        font-size: 18px;
    }
    .price {
        left: 10px;
        bottom: 0;
    }
    .boxImg {
        width: 60%;
    }
    .firstRow {
        padding: 20px;
    }
    .desscriptionCard {
        font-size: 12px;
    }
    .banner h1 {
        font-size: 30px;
        text-align: center;
    }
    .banner h1 {
        top: 170px;
    }
    .banner {
        height: 260px;
    }
    .zBanner {
        height: 260px;
    }
}

@media screen and (max-width: 480px) {
    .boxImg {
        width: 100%;
    }
    .cardTitCustom {
        font-size: 16px;
    }
}