.body {
    background-image: url('../img/cuongimg/F_20220106160155rYfqe9.jpg');
    padding-top: 100px;
    padding-bottom: 50px;
    height: 680px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.fakeBody {
    width: 100%;
    height: 680px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.562);
    z-index: 0;
}

.layout {
    padding-left: 80px;
    padding-right: 80px;
}

.title h2 {
    color: #fff;
    font-size: 64px;
    line-height: 3.5;
    text-align: center;
}

.layout {
    position: absolute;
    right: 50%;
    transform: translate(50%, 0%);
    z-index: 900;
}

.btn-user {
    background: black;
    color: #fff;
    font-size: 20px;
    padding: 5px;
    margin-bottom: 20px;
    width: 100%;
    text-align: start;
}

.btn-icon {
    margin-right: 30px;
    margin-left: 10px;
    align-items: center;
}

.form-label {
    color: #FF6400 !important;
}

.form-control {
    border: none;
    border: 1px solid #FF6400;
    background-color: rgb(71, 71, 71);
    padding: 10px 20px !important;
    border-radius: 0 !important;
    color: #fff;
    font-size: 16px;
}

.form-control:focus {
    box-shadow: none !important;
    background-color: #000 !important;
    color: #fff !important;
}

.btn {
    background: #FF6400 !important;
    color: #fff;
    margin-top: 30px;
}

@media (max-width:1024px) {
    .hj {
        display: none !important;
    }
    .form-select {
        background: black;
        color: #fff;
    }
    .hk {
        display: block;
        margin-bottom: 50px;
        padding: 0;
    }
}

@media (max-width:1440px) {
    .hk {
        display: none;
    }
}

@media (max-width:2560px) {
    .hk {
        display: none;
    }
}

@media (max-width:768px) {
    .hk {
        display: block;
        margin-bottom: 50px;
        padding: 0;
    }
    .layout {
        padding-left: 40px;
        padding-right: 40px;
    }
    .form-select {
        background: black;
        color: #fff;
    }
}

@media (max-width:425px) {
    .layout {
        padding-left: 20px;
        padding-right: 20px;
    }
    .body {
        height: 1000px;
    }
    .fakeBody {
        height: 1000px;
    }
    .title h2 {
        color: #fff;
        font-size: 44px;
        line-height: 3.5;
        text-align: center;
    }
    .hk {
        width: 50%;
        display: block;
        margin-bottom: 50px;
        padding: 0;
    }
}

@media (max-width:375px) {
    .title h2 {
        color: #fff;
        font-size: 43px;
        line-height: 3.5;
        text-align: center;
    }
}

@media (max-width:325px) {
    .title h2 {
        color: #fff;
        font-size: 36px;
        line-height: 3.5;
        text-align: center;
    }
}